{% extends "base.html" %}
{% block page_content %}
    <br><br><br>
    <h3 style="text-align:center; color:MidnightBlue;">Garima is a production engineer for an online transportation network company.</h3>
    <br><br>
    <a href="https://www.linkedin.com/in/garimadamani/"><img border="0" alt="LinkedIN" src="static/images/linkedin.png" width="50" height="50"></a>
    &emsp;
    <a href="https://medium.com/@garimajdamani"><img border="0" alt="Medium" src="static/images/medium.png" width="50" height="50"></a>
    &emsp;
    <a href="https://github.com/GarimaDamani"><img border="0" alt="Github" src="static/images/github.svg" width="50" height="50"></a>
    <br>
{% endblock %}
